@media screen {
    .menu{
        width:auto; height:50px;
        margin-bottom:10px; background-color: rgb(255, 217, 232);
        display:flex;
    }
    .menu ul{
                padding:0; margin: 0;
                list-style: none;
    }
    .menu ul li{
        float:left;
    }
    .menu ul li a{
        text-decoration:none;
        padding:0px 20px;
        font-family: Arial;
        color:rgb(214, 28, 134);
        font-size: 18px;
        line-height: 50px;
        display:block;        
    }
}


    